<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Spring Boot Study</title>
</head>
<body>
  <h1>Book List</h1>
  <table>
    <tr th:each="book: ${books}">
      <td th:text="${book.id}">ID</td>
      <td th:text="${book.title}">Title</td>
      <td th:text="${book.publisher.name}">Publisher</td>
    </tr>
    <tr>
      <td>1234</td>
      <td>Spring in actions</td>
      <td>Wrox</td>
    </tr>
  </table>
</body>
</html>